button {
    background-color:azure;
    font-family: comicsansms;
    color: royalblue;
    border-radius: 50%;
    border-color:lightsteelblue;
    padding: 26px 30px;
    /* position: relative;
    left: 35%; */
    text-align: center;
    font-size: 16px;
}
h1 {
    color:royalblue;
    font-family:comicsansms;
    text-align: center;
}
.container {
    width: 100%;
    text-align: center;
}
body {
    background-image: url("https://media-public.canva.com/MAB5cFxeE3w/2/screen.png")
}
img {
    width: 100%;
    height: auto;
    display:inline-block;
}
p {
    color: royalblue;
    font-family: trebuchetms;
    background-color: aliceblue
}